name: CI/CD laravel-app

on:
  push:
    branches: [ main ]

jobs:
  #build-laravel-image:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - uses: actions/checkout@v2
  #    - name: build-laravel-image
  #      run: |
  #        docker login -u ${{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
  #        docker build -t aminfourty7/test-laravel:latest .
  #        docker push aminfourty7/test-laravel:latest

  #get-ec2-ip-addr:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - uses: actions/checkout@v2
  #    
  #    - name: Configure AWS Credentials
  #      uses: aws-actions/configure-aws-credentials@v1
  #      with:
  #        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
#
  #    - name: get ip    
  #      run: |
  #        aws ec2 describe-instances \
  #        --query 'Reservations[*].Instances[*].PublicIpAddress' \
  #        --filters "Name=tag:project,Values=docker-server" \
  #        --output text >> ~/inventory
  #        cat ~/inventory
  #    - name: persist to workspace
  #      uses: actions/upload-artifact@v3
  #      with:
  #        name: inventory
  #        path: ~/inventory
  run-containers:
    runs-on: ubuntu-latest
    #needs: [get-ec2-ip-addr]
    steps:
      - uses: actions/checkout@v2
      - name: get ssh key
        uses: webfactory/ssh-agent@v0.6.0
        with:
            ssh-private-key: ${{ secrets.AWS_PRIVATE_KEY }}
      #- name: attach workspace
      #  uses: actions/download-artifact@v3
      #  with:
      #    name: inventory
      - name: Install dependencies
        run: sudo apt-get install ansible tar gzip
      - name: run containers
        run: ansible-playbook -i inventory docker-ansible.yaml